* {
    font-family: 'Times New Roman', Times, serif;
    color: #cdd6f4;
}

body {
    height: 100%;
    background: #11111b;
    padding: 0px 140px 0px 140px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>nav {
    display: flex;

    li {
        list-style: none;
        margin: 0px 0px 0px 35px;
        font-size: 20px;

        a {
            color: white;
            text-decoration: none;
        }
    }

    li :hover {
        color: #cba6f7;

    }

}

.logo-text {
    font-size: 30px;
    color: #cba6f7;
}

.button-primary {
    background-color: #cba6f7;
    color: #11111b;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;

}

.button-secondary {
    background-color: transparent;
    border: 1px solid #cba6f7;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    height: 50px;
    font-size: 20px;

}

.normal-text {
    color: #cdd6f4;
    font-size: 30px;
}

.big-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    flex-wrap: wrap;
}

.pricing-card {
    background: #181825;
    border: 1px solid;
    border-radius: 10px;
    padding: 2rem;
    width: 280px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pricing-card h2 {
    margin-bottom: 0.5rem;
}

.price {
    font-size: 2rem;
    margin: 1rem 0;
}

.price span {
    font-size: 1rem;
    color: #666;
}

.pricing-card ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.pricing-card ul li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}


.popular {
    border: 2px solid #cba6f7;
    transform: scale(1.05);
}

button>a {
    text-decoration: none;
    color: #11111b;
    font-weight: 500;
}